@import '../../variables.scss';
@import '../../mixins.scss';

.search {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background: $color-gradient;
    border-radius: 7px;
    border: none;
    padding: 4px 60px;
    
    &:focus {
        outline: none;
    }
}

.input_disabled {
    opacity: 0.2;
    pointer-events: none;
}

.wrapper {
    width: 100%;
    position: relative;
}

.button_search {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 18px;
    height: 16px;
    background-color: transparent;
    border: none;
    background-image: url(../../assets/svg/search-icon.svg);
    background-position: center;
    cursor: pointer;
}

