@import '../../variables.scss';

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    padding: 24px 24px 0;
    background: url(../../assets/images/Pattern.png) $color-light;
    background-position: top right;
    background-repeat: no-repeat;

}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0 8px 20px;
    
    Input {
        margin-bottom: 16px;
    }

}

.main {
    width: 100%;
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}