@import './variables.scss';

html, body {
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.app-body {
  width: 100%;
  height: 100%;
  background: $color-secondary;
}

 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
