$color-primary: #FF0000;
$color-secondary: linear-gradient(98.81deg, #FFF0F0 -0.82%, #FFDFDF 101.53%);
$color-light: #FFFFFF;
$color-dark: #000000;
$color-text-primary: #0D0D0D;
$color-text-secondary: #3B3B3B;

$font-main: 'Avenir', sans-serif;
$font-add: 'DM Sans', sans-serif;